    <div class="container">
      <section class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="username" type="text" class="input-block-level" placeholder="SESA ID">
        <input id="password" type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" id="login">Sign in</button>
      </section>
      <div style="clear: both"></div>
      <div id="generalMD5" style="display:none">
        <input id="name" type="text" class="input-block-level" placeholder="SESA ID">
        <input id="word" type="text" class="input-block-level" placeholder="Password">
        <button id="MD5Button"class="btn btn-large btn-primary" type="button">General MD5 String</button>
        <div style="clear: both"></div>
        <span id="MD5Token"></span>
      </div>
    </div>